/*
Author: Zach Morse
Date: 27/12/22
File Name: styles.css
*/

body, header, nav, main, footer, h1, div, img, ul, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.mobile, .mobile-nav a {
	display: block;
}

.desktop-nav, #menu-links { 
	display: none;
}

nav {
    text-align: center;
}

footer {
    text-align: center;
    background-color:	#0e1111;
    height: 150px;
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: grey;
}

.logo {
    position: absolute;
    width: 70px;
    top: 10px;
    left: 20px;
}

.menu-icon {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}
 
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.desktop-nav li {
    display: inline-block;  
}

.mobile-nav a, .desktop-nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 2em;
}

.mobile-nav a:hover, .desktop-nav a:hover{
    color: #034694;
}

.desktop-nav .active, .mobile-nav .active{
    color: #034694;
}

.desktop-nav a {
    padding: 40px;
    font-size: 1.5em;
}

.desktop-nav, .mobile-nav {
    background-color:#F5F5F5;
}

.desktop-nav {
    height: 90px;
}

.mobile-nav img {
    margin: auto;
    width: 150px;
}

#footer-links p {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

footer hr {
    width:50%;
    margin:0 auto;
}

.img-zach {
    border-radius: 50%;
    width: 150px;
}

#hero-background {
    background-image: url('../images/wavy-lines.jpg');
    min-height: calc(100vh - 90px);
}

#hero-section {
    padding: 15vh 20px 0 20px;
    display: grid;
    justify-content: center;
    color: white;
    font-family: arial;
    max-width: 800px;
    margin: 0 auto;
}

#hero-section h1 {
    font-size: 2.5rem;
    text-align: left;
}

#hero-section h2 {
    padding-top: 2vh;
    font-size: 1.7rem;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 350px;
    margin: 0 0;
}

#hero-section h3 {
    padding-top: 10vh;
    text-align: center;
}

#hero-section a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px;
    background-color: black;
    font-size: 1rem;
    border-style: solid;
    border-color: #7dcfe3;
    border-width: 4px;
}

#hero-section a:hover {
    color: rgb(53, 51, 51);
    background-color: white;
    border-color: #9A32CD;
}

#colour-pop {
    color: #9A32CD;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}

#morse-caption {
    font-family: arial;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 5vh 5vw 0 5vw;
}

#morse-caption h3, #webdesign-section h3 {
    color: #005bb6;
    font-size: 2rem;
}

#morse-caption p {
    line-height: 1.5rem;
}

#webdesign-info {
    padding: 0 5vw 0 5vw;
}

#webdesign-section p {
    line-height: 1.8rem;
    text-align: start;
}

#webdesign-section {
    font-family: arial;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 7vh 0 0 0;;
    align-items: center;
}

#webdesign-section img {
    max-width: 100%;
    margin: auto;
}

#webdesign-info a {
    color: black;
    text-decoration: none;
    border: black 1px solid;
    padding: 10px;
}

#webdesign-info a:hover {
    color: white;
    text-decoration: none;
    border: #9A32CD 1px solid;
    padding: 10px;
    background-color: #9A32CD;
    transition: all .2s ease-in-out; 
}

#chat-cta {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
    padding: 7vh 10px 7vh 10px;
    text-align: center;
    font-family: Arial;
}

#chat-cta a {
    padding: 10px;
    text-decoration: none;
    color: black;
    border: black 3px solid;
    display: inline-block;
}

#chat-cta a:hover {
    background-color: #9A32CD;
    transition: all 0.2s ease-in-out;
    color: white;
    border-color: #9A32CD;
}

#chat-cta img {
    margin: auto auto;
    min-height: 40%;
    min-width: 40%;
    align-items: center;
}

#chat-cta h3 {
    font-size: 2rem;
    letter-spacing: 2px;
}

#about-info {
    max-width: 800px;
    margin: 0 auto;
    font-family: arial;
}

#about-info p {
    font-size: 1.2rem;
    line-height: 2rem;
}

#about-info h4 {
    font-size: 2rem;
    margin: 0;
    padding-top: 7vh;
}

#founder-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 750px;
    background-color: #0e1111;
    margin: 5vh auto;
    color: white;
    text-align: center;
    font-family: arial;
    line-height: 2rem;
    padding: 5vh 0;
    align-items: center;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.208);
}

#founder-section img {
    margin: 0 auto;
}

#founder-section h4 {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

#founder-section p {
    font-size: 1.2rem;
    margin: 0 30px 0 30px;
}

#socials-sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 200px;
    margin: 0 auto;
    padding: 7vh 0 7vh;
    text-align: center;
}

#socials-sections img{
    max-width: 70%;
}

#about-section {
    padding: 0 5vw 0 5vw;
}

#contact-section {
    padding: 0 5vw 0 5vw;
    font-family: arial;
    max-width: 800px;
    margin: 0 auto;
}

#contact-section h4 {
    font-size: 2rem;
    margin: 0;
    padding-top: 7vh;
}

input, textarea {
    width: 95%;
    padding: 15px 10px 15px 10px;
    border: none;
    background-color: rgba(219, 216, 216, 0.388);
    outline: none;
    border-bottom: 2px #03479400 solid;
    font-size: 16px;
}

textarea {
    min-height: 50px;
    resize: none;
    font-family: arial;
}

input[type="submit"] {
    width: 100%;
}

fieldset input:focus, fieldset textarea:focus {
    outline: none;
    border-bottom: 2px #034694 solid;
}

#submit-btn {
    text-align: center;
    background-color: rgba(55, 52, 52, 0.605);
}

.btn:hover {
    background-color: #7dcfe3;  
    transition: all 0.2s ease-in-out;
}

.btn {
    cursor: pointer;
}

#contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-bottom: 10px;
}

.contact-form fieldset {
    border: none;
}

#location-email {
    text-align: center;
    padding: 50px 0 50px;
}

#morse-email {
    padding: 20px;
}

#morse-email a {
    color: black;
    text-decoration: none;
}

#location {
    padding: 20px;
}

h5 {
    font-size: 1.5rem;
    margin: 0;
}

#contact-details {
    padding-bottom: 10px;
}

.honey-pot {
    display: none;
}

@media screen and (min-width: 768px){
    .desktop-nav {
		display: block;   
	}
	.mobile, .mobile-nav, a.menu-icon {   
		display: none;   
	}
    #hero-section h3 {
        padding-top: 10vh;
    }
    #hero-section h2 {
        font-size: 2rem;
        max-width: 430px;
    }
    #hero-section h1 {
        font-size: 3rem;
    }
    #hero-background {
        min-height: calc(100vh - 90px);
    }
    #webdesign-section {
        grid-template-columns: repeat(2, 50%);
    }
    #webdesign-info {
        max-width: 400px;
        margin: 0 auto;
        padding: 0;
    }
    #chat-cta {
        grid-template-columns: 1fr 1.75fr;
    }
    #chat-cta img {
        min-height: 75%;
        min-width: 75%;
    }
    #founder-section {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
    }
    #founder-section p {
        text-align: start;
        max-width: 600px;
    }
    #zach-morse {   
        border-right: #F5F5F5 2px solid;
    }
    #contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding-bottom: 20px;
    }
    #location-email {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #location {
        border-right: #0e1111 2px solid;
    }
    #contact-details {
        width: 100%;
        padding-bottom: 20px;
    }
    textarea {
        padding: 15px 30px 15px 10px;
    }
}